<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title th:text="'Тег: '+ ${tag.name}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>


<div class="container mt-5">

  <h1 th:text="${tag.name}">Название тега</h1>
  <p th:text="${tag.shortDescription}">Описание тега</p>

  <h4>Список публикаций</h4>
  <div th:each = "el : ${posts}" class="alert alert-info mt-2">
    <a style="float: right" th:href="'/blog/profile/'+${el.Author.id}" th:text="${el.Author.nickname}">Автор</a>
    <h3 th:text="${el.subjectPost}"/>
    <div th:each = "tag : ${el.tags}">
      <a style="float: right"  th:href="'/blog/tag/'+${tag.id}" th:text="'#'+${tag.name}">тег</a>
    </div>
    <p th:text="${el.anonsPost}" />
    <a th:href="'/blog/'+${el.id}" class="btn btn-warning">Детальнее</a>
  </div>
</div>

<div th:insert="/blocks/footer :: footer"></div>

</body>
</html>